@model PhoneBookProject.Models.DepartmantList
@{
    ViewBag.Title = "ویرایش";
}


<form method="post">
    <input Asp-for="Id" hidden />
    <!-- form start -->

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


    <div class="box-body">
        <div class="row">
            <div class="col-xs-3">
                <label asp-for="Name">نام معاونت</label>
                <input asp-for="Name" class="form-control" placeholder="نام معاونت" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-xs-5">
                <label asp-for="Location">موقعیت</label>
                <input asp-for="Location" class="form-control" placeholder="موقعیت" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
        </div>
    </div>

    <!-- /.box-body -->

    <div class="box-footer">
        <button type="submit" class="btn btn-success">ثبت</button>
        <button asp-action="Index" type="submit" class="btn btn-default">انصراف</button>
    </div>

    <div class="col-4">
        @* Keep this empty *@
    </div>
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
