@model PhoneBookProject.Models.DataPhonelist

<form method="post" asp-action="DeletePost">
    <input Asp-for="Id" hidden />
    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <h2 class="text-info pl-3">Delete Contact</h2>
        </div>
        <div class="row">
            <div class="col-8">


                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Fname"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Fname" disabled class="form-control" />
                        <span asp-validation-for="Fname"  class="text-danger"></span>
                    </div>

                </div>



                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Lname"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Lname" disabled class="form-control" />
                        <span asp-validation-for="Lname" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Location"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Location" disabled class="form-control" />
                        <span asp-validation-for="Location" class="text-danger"></span>
                    </div>
                </div>



                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Departmant"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Departmant" disabled class="form-control" />
                        <span asp-validation-for="Departmant" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Division"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Division" disabled class="form-control" />
                        <span asp-validation-for="Division" class="text-danger"></span>
                    </div>

                </div>


                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Position"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Position" disabled class="form-control" />
                        <span asp-validation-for="Position" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="PhoneNumber"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="PhoneNumber" disabled class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="CellPhone"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="CellPhone" disabled class="form-control" />
                        <span asp-validation-for="CellPhone" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Description"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Description" disabled class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>





                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" disabled class="btn btn-danger w-100" value="چاپ" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i> بازگشت</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4">
            @* Keep this empty *@
        </div>

    </div>

</form>

    @section Scripts{

        @{ <partial name="_ValidationScriptsPartial" /> }

    }
